pytest==9.0.1
pandas==2.3.3
python-dotenv==1.2.1
SQLAlchemy==2.0.44
flake8==7.3.0
sqlfluff==3.5.0
ipykernel==7.1.0
pytest-cov==7.0.0
pathlib==1.0.1
plotly-express==0.4.1
folium==0.20.0
streamlit-folium==0.25.3
geopandas==1.1.1
leafmap==0.57.9
OWSLib==0.35.0
streamlit==1.51.0
